<!DOCTYPE html>
<html lang="{{ site.lang | default: "ru-RU" }}">
<head>
	<meta charset="UTF-8">
	<title>
	  {{ page.title | default: page.name }}
	</title>
	{% seo title=false %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	<style>{{ page.style }}</style>
</head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h2><a href="/">Home</a> > {{ page.title | default: page.path | remove: "index.md" | split: "/" | last | default: "hello" }}</h2>
{% if page.pagetype == "category" %}
{{ content }}
{% include sub-dir.md %}
{% else %}
	  <img src="icon.png" alt="иконка" /><br>
	  <b>Краткое описание:</b>
{{ content }}
{% include filelist.md %}
{% endif %}


    </div>
    <script src="/assets/js/filesize.js"></script>
    <!--<script src="{{ '/assets/js/anchor.min.js' | relative_url }}"></script>-->
    <!--<script>anchors.add('h2:not(.no_anchor), h3, h4');</script>-->
  </body>
</html>
